:root{
    --azul : #275AA9;
    --azul2 : #4489A8;
    --azulFuerte : #011826;
    --azuelSuave: #2B97E4;
    --amarillo: #FFEA04;
    --cafe1:#D3983F;
    --cafe2: #E07F5E;
    --beich: #F2D8C3;
}

#contenedor-sugerencias{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: black solid 1px;
    background-color: var(--azul2);
    padding: 2em;
}

#caja-sugerencias{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    color: var(--azulFuerte);
    gap: 1em;
}

.text-sug-1{
    background-color: var(--azuel2);
    color: var(--azulFuerte);
    border: var(--azulFuerte) solid 2px;
    border-radius: 1rem;
    padding: 1em;
    width: 100%;
    max-width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    resize: none;
    outline: none;
}

.text-sug-change{
    background-color: var(--azuelSuave);
}

.text-sug-1::placeholder{
    color: var(--azulFuerte);
}

#caja-img-sugerencia{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-1{
    display: block;
    width: 10em;
    max-width: 10em;
}

@media (max-width: 768px) {
    #caja-sugerencias{
        grid-template-columns: 1fr;
        padding: 1em;
        box-sizing: content-box;
    }
}