@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
:root{
    --azul : #275AA9;
    --amarillo: #FFEA04;
    --cafe1:#D3983F;
    --cafe2: #E07F5E;
    --beich: #F2D8C3;
}
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
.header{
    display: flex;
    justify-content:  center;
    align-items: center;
    padding: 1.2em;
    font-family: 'Lobster', cursive;
    border-bottom: solid gray 1px;
    color: #E07F5E;
}
.header span{
    font-size: 1.6em;
}
#body{
    display: grid;
    grid-template-columns: 1fr 0.5fr;


}
#body article{
   height: 80vh;
   border: solid 1px;
   padding: 1em;

}
#body .myMenus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#body article h1{
    font-size:  1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  
}
.caja{
    border: solid 2px gray;
    width: 200px ;
    height: max-content;
    border-radius: 5px;
    margin: 0  auto;
}
.caja .imagen-combo{
    width: 200px ;
   position: relative;
}
.caja .imagen-combo .btnCheck{
    position: absolute;
    top: 0;
    left: 0;
    font-size: xx-large;
}
.caja .imagen-combo img{
    width: 100%;
}
.caja .texto-combo{
    padding: 1.2em;
}
.antes{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
}
#Menus{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    margin-top: 1%;
    height: 90%;
    width: 100%;
    overflow-y: scroll;
}
input[type = 'radio']{
    display: none;
}
#carrito{
   display: grid;
   grid-template-rows: repeat(4,1fr);
}
#carrito div{
    height: 50%;
}
#compras{
    grid-row: span 2;
    height: 100%;
}
#compras>#compras2{
    overflow-y: auto;
    height: 100%;
}
#compras>#compras2>div{
    height: 50%;
}
.h3{
    color: var(--cafe2); 
    font-family: 'Lobster', cursive;
    grid-column: span 3;
    text-align: center;
    font-size: 1.2em;
    height: min-content;
    padding: 1em;
}
#menu .comida{
    width: 100%;
    display: flex;
    align-items: center;
    
}
#menu .comida div{
    padding: 1em;
}
.btnComprar, .precioInput{
    grid-row: 3/4;
    padding: 1em;
    font-family: sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.precioInput{
    flex-direction: row;
    justify-content: center;
    font-size: larger;
    width: 100%;
    color: rgb(148, 148, 148);
}
.precioInput label{
    width: 50%;
}
#txtFinal{
    border: none;
    background-color: white;
    font-size: 1.3em;
    width: fit-content;
    width: 30%;
}
.btnComprar p{
    color:  white;
    background-color: #275AA9;
    height: min-content;
    width: 50%; 
    padding: 1em;
    text-align: center;
    cursor: pointer;
}

@media (max-width: 768px) {
    #body{
        grid-template-columns: 1fr 0.5fr;
    
        
    }
}