@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
:root{
    --azul : #275AA9;
    --amarillo: #FFEA04;
    --cafe1:#D3983F;
    --cafe2: #E07F5E;
    --beich: #F2D8C3;
}
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    display: flex;
    justify-content:  center;
    align-items: center;
    padding: 1.2em;
    font-family: 'Lobster', cursive;
    border-bottom: solid gray 1px;
    color: #E07F5E;
}
.header span{
    font-size: 1.6em;
}
#body{
    display: grid;
    grid-template-columns: 1fr 0.5fr;


}
#body article{
   height: 80vh;
   border: solid 1px;
   padding: 1em;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
#body article h1{
    font-size:  1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  
}
.caja{
    border: solid 2px gray;
    width: 200px ;
    height: max-content;
    border-radius: 5px;
    margin: 0  auto;
}
.caja .imagen-combo{
    width: 200px ;
   position: relative;
}
.caja .imagen-combo .btnCheck{
    position: absolute;
    top: 0;
    left: 0;
    font-size: xx-large;
}
.caja .imagen-combo img{
    width: 100%;
}
.caja .texto-combo{
    padding: 1.2em;
}
.antes{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
}
#Menus{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    margin-top: 1%;
    height: 90%;
    width: 100%;
    overflow-y: scroll;
}
input[type = 'radio']{
    display: none;
}
#carrito{
    justify-content: space-between;
}
#carrito div{
    height: 33.33%;
}
.h3{
    color: var(--cafe2); 
    font-family: 'Lobster', cursive;
    grid-column: span 3;
    text-align: center;
    font-size: 1.2em;
    height: min-content;
    padding: 1em;
}
#menu .comida{
    width: 100%;
    display: flex;
    align-items: center;
    
}
#menu .comida div{
    padding: 1em;
}


@media (max-width: 768px) {
    #body{
        grid-template-columns: 1fr 0.5fr;
    
        
    }
}